body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    font-size: 22px; /* Tamanho de fonte padrão para o corpo */
}

.card {
    font-size: 18px; /* Tamanho da fonte dentro do card */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 15px;
    margin: 10px 0;
    text-align: center;
}

.card h3 {
    margin-top: 10px;
    font-size: 18px; /* Tamanho da fonte para o título do card */
    color: #333;
}

.card p {
    font-size: 14px; /* Tamanho da fonte para parágrafos no card */
    color: #666;
}

/* Estilo para botões */
.btn, .btn2, .btn-logout {
    font-size: 20px; /* Tamanho da fonte para todos os botões */
    padding: 8px 16px;
    margin: 5px;
    color: white;
    text-decoration: none;
    border-radius: 7px;
    display: inline-block;
    border: 2px solid #000; /* Borda preta para todos os botões */
}

/* Estilo específico para o botão de adicionar */
.btn {
    background-color: #288d40; /* Cor de fundo para botão "Salvar" ou "Adicionar" */
}

.btn2 {
    background-color: #a32d40; /* Cor de fundo para botão "Cancelar" */
}

/* Navbar */
.navbar {
    background-color: #007bff; /* Cor da navbar */
    padding: 10px;
    border-radius: 10px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start; /* Alinha à esquerda */
    align-items: center; /* Alinha verticalmente */
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: white; /* Cor dos links */
    text-decoration: none;
    padding: 8px 16px;
    margin: 0 5px; /* Adiciona espaçamento entre os itens */
    border-radius: 4px; /* Bordas arredondadas */
    background-color: transparent; /* Fundo transparente para links */
    cursor: pointer; /* Cursor de ponteiro */
}

/* Hover para links da navbar */
.navbar ul li a:hover {
    background-color: #0056b3; /* Cor ao passar o mouse */
}

/* Logout Button */
.logout-button {
    margin-left: auto; /* Move o botão de logout para a direita */
}

.btn-logout {
    background-color: rgb(199, 27, 21); /* Cor de fundo (vermelho) */
}

/* Hover apenas para o botão de logout */
.btn-logout:hover {
    background-color: rgb(175, 20, 20); /* Cor ao passar o mouse (vermelho escuro) */
}

h1 {
    text-align: center; /* Centraliza o título */
}
