{% extends 'base.html' %}
{% load static %}
{% block title %}Adicionar Veículo{% endblock %}
{% block content %}
<nav class="navbar">
    <ul>
        <li><a href="{% url 'listar_carros' %}">Listar Carros</a></li>
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
    </ul>
</nav>
<h2>Adicionar Veículo</h2>
<div class="card">
    <form method="POST" action="{% url 'adicionar_carro' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Adicionar</button>
    </form>
    <a href="{% url 'listar_carros' %}" class="btn2">Cancelar</a>
</div>
{% endblock %}
