{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Carros</title>
    <link rel="stylesheet" href="{% static 'css/carros.css' %}">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="{% url 'listar_carros' %}">Listar Carros</a></li>
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
        </ul>
    </div>
    <h1>Lista de Carros</h1>
    <div class="carros">
        {% for carro in veiculos %}
        <div class="card">
            {% if carro.imagem %}
                <img src="{{ carro.imagem.url }}" alt="Imagem do {{ carro.modelo }}" style="max-width: 800px;">
            {% else %}
                <p>Imagem não disponível</p>
            {% endif %}
            <h3>{{ carro.modelo }}</h3>
            <p><strong> Ano: {{ carro.ano }}</strong></p>
            <p><strong>Montadora: {{ carro.get_montadora_display }}</strong></p>

            <div class="buttons">
                <a href="{% url 'editar_carro' carro.pk %}">Editar</a>
                <a id="btn_excluir" href="{% url 'excluir_carro' carro.pk %}">Excluir</a>
            </div>
        </div>
        {% empty %}
            <p>Não há carros cadastrados.</p>
        {% endfor %}
    </div>
</body>
</html>
