body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    font-size: 22px;
}

.card {
    font-size: 18px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 15px;
    margin: 10px 0;
    text-align: center;
}

.card h3 {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

.card p {
    font-size: 14px;
    color: #666;
}

.btn {
    font-size: 20px;
    margin-top: 10px;
    padding: 8px 16px;
    margin: 5px;
    color: white;
    text-decoration: none;
    border-radius: 7px;
    display: inline-block;
    background-color: #288d40;
    border: 2px solid #000
}

h1 {
    text-align: center;
}

.navbar {
    background-color: #007bff;
    padding: 10px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}

.navbar ul li a:hover {
    background-color: #0056b3;
    border-radius: 4px;
}

.btn2{
    font-size: 20px;
    margin-top: 10px;
    padding: 7px 6px;
    margin: 5px;
    color: white;
    text-decoration: none;
    border-radius: 7px;
    display: inline-block;
    background-color: #a32d40;
    border: 2px solid #000
}